.root{
    -fx-background-color: linear-gradient(#ECF4FB, #9ECAEB);

}



MenuBar
{
    -fx-text-fill: white;
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#FF8888, #FFBBBB);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.choice-box {
    -fx-background-color: linear-gradient(#FF8888, #FFBBBB);;
    -fx-mark-color: black;
}
.menu-item {
    -fx-background-color: linear-gradient(#FF8888, #FF4F4F);
}
.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: linear-gradient(#FFBBBB, #FF8888);;
}

.menu-item:focused .label {
    -fx-text-fill: black;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: linear-gradient(#FF8888, #FF4F4F);
}

Button {
    -fx-text-fill: white;
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#FF8888, #FF4F4F);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover{
    -fx-background-color: linear-gradient(#FFBBBB, #FF8888);;
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
